0 * * * * python /opt/histomicstk/HistomicsTK/histomicstk/utils/manage_skin.py --operation process --token $GIRDER_TOKEN --folder 5f0dc449c9f8c18253ae949a
30 * * * * python /opt/histomicstk/HistomicsTK/histomicstk/utils/manage_skin.py --operation process_baseline --token $GIRDER_TOKEN --folder 5f0dc45cc9f8c18253ae949b
*/6 * * * * python /opt/histomicstk/HistomicsTK/histomicstk/utils/manage_skin.py --operation poll_annotations_natiens --token $GIRDER_TOKEN --folder 62d5c96637d1f027666a9480 --foldername natiens_pilot --datadir /opt/histomicstk_data --redcaptoken $REDCAP_TOKEN --collection 616846abb782047b732b8318 --workergroup 61684cd6b782047b732b842c --baselinegroup 61684cd6b782047b732b842c --admingroup 629ff512234d56ac7568f286 --annotator admin
17 4 26 */3 * certbot renew 
*/6 * * * * python /opt/histomicstk/HistomicsTK/histomicstk/utils/manage_skin.py --operation poll_annotations_natiens --token $GIRDER_TOKEN --folder 62d5c96637d1f027666a9480 --foldername natiens_pilot --datadir /opt/histomicstk_data --redcaptoken $REDCAP_TOKEN --collection 616846abb782047b732b8318 --workergroup 61684cd6b782047b732b842c --baselinegroup 61684cd6b782047b732b842c --admingroup 629ff512234d56ac7568f286 --annotator admin
