#g-app-header-container
#g-app-body-container.h-full-page-body

#g-app-progress-container

#g-dialog-container.modal.fade(tabindex='-1')
#g-alerts-container
script(src='static/timeme.js/timeme.min.js')
script(src='static/wurfl.js')
